@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.main-container{
    height: 550px;
    width: 800px;
    background-color: rgb(243, 199, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.clock{
    height: 400px;
    width: 720px;
    font-family: "Pathway Gothic One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    font-size: 450px;
}
.clock-division{
    font-size: 100px;
}

.buttons-container{
    height: 100px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.btn{
    height: 90px;
    width: 235px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(243, 199, 4);
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
