@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);

}

.main-container{
    height: 580px;
    width: 900px;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.clock{
    height: 400px;
    width: 850px;
    font-family: "Pathway Gothic One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.time{
    font-size: 500px;
    color: #7bff5b;
}
.clock-division{
    font-size: 150px;
    color: #7bff5b;
}

.buttons-container{
    height: 100px;
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.btn{
    height: 100px;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 35px;
    background-color: rgb(12, 12, 12);
    color: #7bff5b;
}
.btn:hover{
    background-color: #7bff5b;
    color: rgb(29, 29, 29);
    font-weight: bolder;
}
